<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logged in</title>
</head>
<body>
    <h1 style="color: green">Congratulation, you are logged in!</h1>
    <h1>Welcome, <span id="username"></span>!</h1>

    <form action="/logout" method="post">
        <input type="submit" value="Logout">
    </form>

    <script>
        // Retrieve the username from the server-side and populate it in the HTML
        var username = "{{username}}";
        document.getElementById("username").textContent = username;
    </script>
</body>
</html>